### Initiate Environment

In [35]:
using Pkg
Pkg.activate(".")

using Revise
using TitanicClassifier
using CSV

  Activating project at `~/CTU/SEM_5/JUL/TitanicClassifier/examples`

### Data Analysis

In [66]:
data = CSV.File("../data/train.csv");

In [67]:
incomplete_cols = Set()
for row in data
    for column in propertynames(row)
        if ismissing(getproperty(row, column))
            push!(incomplete_cols, column)
        end
    end
end
print(incomplete_cols)

Set(Any[:Cabin, :Age, :Embarked])

### Data Preprocessing

In [37]:
freq = title_frequencies(data)

Dict{Any, Any} with 17 entries:
  "Jonkheer"     => 1
  "Don"          => 1
  "the Countess" => 1
  "Master"       => 40
  "Miss"         => 182
  "Capt"         => 1
  "Mrs"          => 125
  "Rev"          => 6
  "Major"        => 2
  "Mr"           => 517
  "Mme"          => 1
  "Mlle"         => 2
  "Col"          => 2
  "Lady"         => 1
  "Sir"          => 1
  "Ms"           => 1
  "Dr"           => 7

In [44]:
replace_rules = [[["Dr", "Rev", "Col", "Major", "Capt"], "Officer"],
                 [["Jonkheer", "Countess", "Sir", "Lady", "Don"], "Royalty"], 
                 [["Mlle"], "Miss"], [["Ms"], "Miss"], [["Mme"],"Mrs"]]
get_title_token(data[1], replace_rules)

"Mr"